body {
    background-color: #F8ECDE;
    font-family: 'Poppins', sans-serif;
    color: #554840;
    font-weight: 500;
    font-size: 22px;
}

/*TOP BAR*/
.heading-top-bar{
    color: #554840;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}

.icon-cake {
    height: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.nav-link {
    color: #554840;
    padding: 0 15px;
}

.nav li :hover {
    color: #554840 !important;
}

.nav li {
    border-right: 2px solid #554840;
}

.nav li:last-child {
    border-right: 0;
}

.btn-top {
    border-radius: 64px;
    padding: 8px 25px 10px 18px;
    background-color: #554840;
    color: white;
}

.btn-top:hover {
    background-color: #554840;
    color: white;
}

.icon-btn-top {
    height: 25px;
}

/*PAGE SHAPES*/
.shape-1 {
    z-index: -1;
    position: absolute;
    float: left;
    top: 0;
}

.shape-3 {
    z-index: -1;
    position: relative;
    float: right;
    bottom: 30px;
}

.shape-4 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

.shape-5 {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.shape-6 {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.leaf-1 {
    z-index: -1;
    position: absolute;
    left: 10%;
    bottom: 0;
}

.leaf-2 {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dots-1 {
    position: absolute;
    left: 40%;
    top: 15%;
}

.dots-2 {
    position: relative;
    left: 2%;
    transform: rotate(160deg);
}

.wrapper-1 {
    z-index: -1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.wrapper-2 {
    z-index: -1;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

/* PAGE HERO*/

.heading-hero {
    font-family: 'Rum Raisin', sans-serif;
    font-size: 80px;
}

.btn-hero {
    border-radius: 64px;
    padding: 15px 25px 15px 25px;
    background-color: #554840;
    color: white;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 28px;
}

.btn-hero:hover {
    background-color: #554840;
    color: white;
}

.col-hero-right {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/*FOOTER*/

.footer {
    position: relative;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
}

.link-github {
    color: #554840;
    text-decoration: none;
}

.icon-github {
    height: 30px;
    width: 30px;
}

/*RECIPES PAGE*/

.row-recipes {
    background-color:#fdf8f1;
}

#searchBar {
    background-color: #554840;
    border-radius: 64px;
    height: 60px;
    z-index: 1;
    color: white;
}

#searchBar:focus {
    box-shadow: none !important;
}

#searchBar::placeholder {
    color: white;
}

.btn-search {
    position: relative;
    border-radius: 60px;
    right: 70px;
    top: 2px;
}

.icon-search {
    height: 40px;
}

/*RECIPE CARD*/

.card {
    border: 1px solid #554840;
    margin-top: 15px;
}

.recipe-title {
    color: #554840;
    font-weight: 600;
    position: relative;
    top: 6px;
    text-align: center;
}

.recipe-description {
    font-weight: 200;
    font-size: 16px;
    color: #554840;;
}

.recipe-icon-sm {
    height: 25px;
}

.recipe-sm-text {
    font-size: 14px;
    color: #554840;
}

.number {
    font-weight: bolder;
}

.recipe-btn {
    border-radius: 64px;
    padding: 8px 18px 10px 18px;
    background-color: #554840;
    color: white;
}

.recipe-btn:hover {
    background-color: #554840;
    color: white;
}

.recipe-img {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.col-recipe {
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
}

.recipe-text-md {
    font-size: 20px;
}

.recipe-img-single {
    border: 10px solid #554840;
}

/*RESPONSIVE STYLES*/

@media (max-width: 576px) {

    .btn-top {
        left: 0;
    }

    .col-hero-right {
        padding: 25px;
        top: -40px;
        right: 0px;
        font-size: 18px;
    }
    
    .wrapper-2 {
        position: relative;
    }

    .leaf-1 {
        bottom: 130px;
        left: -1px;
        height: 80px;
        transform: rotate(60deg);
    }

    .leaf-2 {
        bottom: 90px;
        height: 80px;
    }

    .shape-6 {
        display: none;
    }

    .dots-2 {
        position: relative;
        left: 30%;
        bottom: 90px;
        transform: rotate(160deg);
        height: 95px;
    }

    .footer {
        position: relative;
        top: 80px;
    }

    .card {
        margin-top: 15px;
        margin-left: 26px;
    }

    .recipe-img {
        height: 50vw;
        object-fit: revert;
    }
    
}